:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */
/*loader*/
.LOADER{
  background-color: #000 !important;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.LOADERA{
 
  justify-content: center !important;
  align-items: center;
}

.loader {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 6.250em;
  height: 6.250em;
  animation: rotate5123 2.4s linear infinite;
}

.white {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  animation: flash 2.4s linear infinite;
  opacity: 0;
}

.dot {
  position: absolute;
  margin: auto;
  width: 2.4em;
  height: 2.4em;
  border-radius: 100%;
  transition: all 1s ease;
}

.dot:nth-child(2) {
  top: 0;
  bottom: 0;
  left: 0;
  background: #FF4444;
  animation: dotsY 2.4s linear infinite;
}

.dot:nth-child(3) {
  left: 0;
  right: 0;
  top: 0;
  background: #FFBB33;
  animation: dotsX 2.4s linear infinite;
}

.dot:nth-child(4) {
  top: 0;
  bottom: 0;
  right: 0;
  background: #99CC00;
  animation: dotsY 2.4s linear infinite;
}

.dot:nth-child(5) {
  left: 0;
  right: 0;
  bottom: 0;
  background: #33B5E5;
  animation: dotsX 2.4s linear infinite;
}

@keyframes rotate5123 {
  0% {
    transform: rotate( 0 );
  }

  10% {
    width: 6.250em;
    height: 6.250em;
  }

  66% {
    width: 2.4em;
    height: 2.4em;
  }

  100% {
    transform: rotate(360deg);
    width: 6.250em;
    height: 6.250em;
  }
}

@keyframes dotsY {
  66% {
    opacity: .1;
    width: 2.4em;
  }

  77% {
    opacity: 1;
    width: 0;
  }
}

@keyframes dotsX {
  66% {
    opacity: .1;
    height: 2.4em;
  }

  77% {
    opacity: 1;
    height: 0;
  }
}

@keyframes flash {
  33% {
    opacity: 0;
    border-radius: 0%;
  }

  55% {
    opacity: .6;
    border-radius: 100%;
  }

  66% {
    opacity: 0;
  }
}

html,


/* a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
 */
:root{
  --first:#fff;
  --second:#000;
  --third:#000000ba;
  --four:  #e9931c; 
  --five: linear-gradient(rgb(10, 10, 232), rgb(227, 153, 165));
}

body {
  background-color: #fff;
}

.video{
  width: 100%;
  position: absolute;
  height: auto;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.section-one{
  background-image: url(/img/header_love.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.navbara > a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tourrr{
  color: #a52590;
  font-weight: bold;
}

.tour{
  color: #fff !important;
  font-weight: bold;
  font-size: 1.5rem !important;
  text-transform: capitalize;
  font-family: "Arial", sans-serif;
}

 header{
  z-index: 9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  margin: 35px 0px;
  
} 
 
 header .navegation{
  position: relative;
  height: 100%;
  padding: 18px 18px 18px 18px;
  backdrop-filter: blur(30px);
  border-radius: 1rem;
}  
 
header .navegation-items{
  padding: auto;
  margin: auto;
}

header .navegation .navegation-items  a{
  position: relative;
  font-size: 1.2rem;
  
  color: #fff !important;
  transition: .5s;
  z-index: 1;
  text-transform: none;
  text-decoration: none;
  margin: 20px 0 !important;
  padding: 10px 20px;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
}


 header .navegation .navegation-items :before{
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  opacity: 0;
  transition: .3s;
  z-index: -1;
  transform: scaleY(2);
}

header .navegation .navegation-items :hover:before{
  transform: scaleY(1);
  opacity: 1;
} 


header .navegation .navegation-items :hover:after{
  transform: scaleY(1);
          opacity: 1;
}

header .navegation .navegation-items   :after{
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: scale(0);
  opacity: 0;
  transition: .3s;
  z-index: -1;
} 

header .navegation .navegation-items :hover{
  color: #000 !important;
}
/*preguntar al ing.
/* header .navegation .navegation-items  :hover{
  color: #000 !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;  
} */

.section-one::before{
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  
  bottom:0;
  left: 0;
  
  background: linear-gradient(transparent,var(--first));
} 

.button-header{
background: #FF512F;  
background: -webkit-linear-gradient(to right, #F09819, #FF512F);  
background: linear-gradient(to right, #F09819, #FF512F); 
display: flex;
cursor: pointer;
transition: .3s;
text-transform: none !important;
font-weight: bold !important;
font-size: 1.1em !important;
overflow: hidden;
z-index: 2;

}

.button-header  span{
  padding: 8px 16px;
  color: var(--first);
  
}

.button-header:hover {
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--second);
}

.button-header::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(red 20deg, transparent 120deg);
  animation: rotar 2s linear infinite;
}

@keyframes rotar{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(-360deg);
  }
}

.button-header::after{
  content: "";
  position: absolute;
  height: 85%;
  width: 95%;
  background-color: var(--first);
  border-radius: .2em;
  z-index: 1;
}

.button-header:hover:after{
 background-color: transparent !important;
  
 
}
.button-header  span{
  padding: 8px 16px;
  color: var(--second);
  z-index: 2;
}

.section-one{
  width: 100%;
  height: 100vh;
}
.iconn-header{
  border-radius: 50%;
  padding: 10px 10px 3px 10px;
  background-color: var(--four);
}

.section-one-content{
  padding-top: 7em;
  
}


.dance{
  font-size: 7em;
  color: var(--first);
}

.dance-p{
  color: var(--first);
  font-size: 1rem;
  padding-bottom: 5em;
}

.css-a5rdam-MuiGrid-root{
  align-items: end;
}

.dance-second{
  color: var(--first);
  align-items: end;
  
}

.dance-second:hover{
  color: var(--first);
  align-items: end;
  backdrop-filter: blur(70px);
  border-radius: 20px;
}


.card-1{
  color: var(--first);
  margin: 30px;
  border-right: 2px solid var(--first);

}

.container{
  padding-left: 3em;
  padding-right: 3em;
}

.four{
  color: var(--four);
}
/*la segunda section comienza ya 
y sera nuestro primer componente */

.section-two-h{
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: .3em;
}

.img-second{
  border-radius: 1em;
  border: 6px solid var(--first);
  box-shadow:
  inset 0 -3em 3em rgba(0,0,0,0.1),
        
        1.3em 1.3em 1em rgba(0,0,0,0.7);

} 

.img-second:hover{
 background-color: #000;
}

.blogs-second{
  justify-content: center !important;
  align-items: center;
  text-align: center;
  
  border-radius: .9em;
  padding-bottom: .8em;
}

.icons{
  position: relative;
  border-radius: .5em ;
  display: block;
  top: -2rem;
  padding: 1rem;
  background-color: var(--second);
  width: 70%;
  margin: auto;
  border: 1px solid var(--first);
  
}

.icons > a{
  text-decoration: none;
  text-transform:lowercase;
  color: var(--first);
}

.icons:hover > a{
  color: #000 !important;
  /* border: 2px solid var(--second); */
}

.icons:hover{
  background-color: var(--first);
  border: 2px solid var(--second);
}

.img-cont{
  
  position: relative;
  width: 35em;
  height: 20em;
  cursor: pointer;
  -webkit-box-shadow: 25.5px 24px 17px -4.5px #706363;
-moz-box-shadow: 25.5px 24px 17px -4.5px #706363;
box-shadow: 25.5px 24px 17px -4.5px #706363;
  clip-path: polygon(0% 15%, 0 0, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  
}

.img-cont div{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1em;

}

.img1{
  background: url(/img/sal-2.jpg);
  background-size: cover;
}

.img2{
  background: url(/img/sal-1.jpg);
  background-size: cover;
  transition: 0.6s;
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0% 100%);
}

.img2:hover{
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.img1:hover ~ .img2{
  clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
}

.section-two-2{
  padding-top: 5em;
}

.two-secction {
  font-size: 40px !important;
  font-weight: bold !important;
}

/*the section three les`t go */
/*bueno comenemos */
.three-sect{
  font-size: 40px !important;
  font-weight: bold !important;
}

.section-three{
 
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  z-index: -1;
 
}


.content-three{
  color: var(--first);
  padding: 3em;
  margin: 2em;
  border-radius: 30px;
  backdrop-filter: blur(70px);
}


.content-3{
  
  border: 2px solid #000;
  border-radius: 20px;
  height: 20em;
  padding: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.content-3:hover{
  color: white;
  background-color: #000;
}

.content-2{
  
  border: 2px solid #000;
  border-radius: 20px;
  height: 20em;
  padding: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.content-2:hover{
  color: white;
  background-color: #000;
}

.content-1{
  
  border: 2px solid #000;
  border-radius: 20px;
  height: 20em;
  padding: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;


}

.content-1:hover{
  color: white;
  background-color: #000;
}


/*cuarta seccion */
/*ha hacer*/

.section-four{
  padding-top: 3em;
  padding-bottom: 3em;
}

.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: -5rem;
  width: 100%;
}

.gallery .box-container .box{
  /* overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border: 1rem solid var(--first);
  border-radius: .5rem;
  flex: 1 1 25rem;
  height: 30rem;
  position: relative; */
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border: 0.5rem solid var(--first);
  border-radius: 2.5rem;
  flex: 1 1 8rem;
  height: 30rem;
  position: relative;
  transition: .5s ease;
  opacity: .8;
}

.gallery .box-container .box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
  position: absolute;
  top: -100; left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: var(--third);
  padding: 1rem;
  padding-top: 5rem;

}

.gallery .box-container .box:hover .content{
  top: 0;
}

.gallery .box-container .box:hover{
  cursor: pointer;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
  
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color: var(--first);
  text-transform: capitalize;
}

.gallery .box-container .box .content p{
  font-size: 1.5;
  color:var(--first);
  padding: 5rem 0;

}
/*section cuarta*/

/* .img-five{
  width: 70%;
  height: 25em;
  clip-path: inset(0 0 0 0);
  border-radius: 20px;

} */

#five{
  width: 70%;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 17px 18.5px 17.5px 5px #a6a4a4;
  -moz-box-shadow: 17px 18.5px 17.5px 5px #a6a4a4;
  box-shadow: 17px 18.5px 17.5px 5px #a6a4a4;
  border-radius: 20px;
}

#five img{
  width: 50em;
  height: 100%;
  transition: 2s;
}

#five img:hover{
  transform: translateX(-30%);
  filter: brightness(80%);
}
/*section pruebA*/


.slider{
  width: 100%;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  overflow: hidden;
}

.slider ul{
  display: flex;
  animation:  cambio 20s infinite
   alternate linear;
   width: 400%;
   
}

.slider li{
  width: 100%;
  list-style: none;
  margin-left: 2em;

}

.slider img{
  width: 100%;
  height: 100%;
  
  padding: .5em;
  border-radius: 2em;
  -webkit-box-shadow: -13px 16px 15.5px 8.5px #6b6161;
-moz-box-shadow: -13px 16px 15.5px 8.5px #6b6161;
box-shadow: -13px 16px 15.5px 8.5px #6b6161;
}

@keyframes cambio{
  0%{margin-left: 0;}
  20%{margin-left: 0;}

  25%{margin-left: -100%;}
  45%{margin-left: -100%;}

  50%{margin-left: -200%;}
  70%{margin-left: -200%;}

  75%{margin-left: -300%;}
  100%{margin-left: -300%;}
}

.footer-six{
  background-image: url(/img/footer.jpg);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255,255,255,0.175);
  background-size: cover;
}

.footer-link > a{
  color: var(--second);
  padding-top: 1em;
}


.button-five{
  background-color: transparent !important;
  border:2px solid var(--four) !important;
  display: flex;
  cursor: pointer;
  transition: .3s;
  text-transform: none !important;
  font-weight: bold !important;
  font-size: 1.1em !important;
  color: var(--second) !important;
  }
  
  .button-five > span{
    padding: .1em .4em !important;
    
  }
  
  .button-five:hover  {
  background: #C02425; 
  background: -webkit-linear-gradient(to right, #F0CB35, #C02425); 
  background: linear-gradient(to right, #F0CB35, #C02425);
  color: var(--first) !important;
  border: .1em solid var(--first);
  }
  

  .Gallery-Button{
    background-color: var(--first) !important;
    border:2px solid var(--four) !important;
    display: flex;
    cursor: pointer;
    transition: .3s;
    text-transform: none !important;
    font-weight: bold !important;
    font-size: 1.1em !important;
    color: var(--second) !important;
    }
    
    
    
    .Gallery-Button:hover  {
    background: #C02425; 
    background: -webkit-linear-gradient(to right, #F0CB35, #C02425); 
    background: linear-gradient(to right, #F0CB35, #C02425);
    color: var(--first) !important;
    border: .1em solid var(--first);
    }
    
.config{
  height: 50vh;
  background-color: #000;
}

.carusel{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em !important;
}

.carusel img {
  max-width: 100% !important;
}

.container-all{
  position: relative;
  max-width: 1000px;
  width: 100%;
  border-radius: 2em;
  overflow: hidden;
}

.slide{
  display: flex;
  transform: translate3d(0,0,0);
  transition: all 600ms;
  animation-name: autoplay;
  animation-duration: 6.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
}

.pagination{
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--first);
  width: 16px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 10px;
  text-align: center;
  transition: all 300ms;
}

.pagination-item:hover{
  transform: scale(2);
}

.pagination-item img{
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition:  all 300ms;
}

.pagination-item:hover img{
  opacity: 1;
  transform: scale(1);
}

.carusel input[id="1"]:checked ~ .slide{
  animation: none;
  transform: translate3d(0 , 0 , 0 );
}

.carusel input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
 background: var(--first);
}
.carusel input[id="2"]:checked ~ .slide{
  animation: none;
  transform: translate3d(calc(-100% * 1) , 0 , 0 );
}

.carusel input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
 background: var(--first);
}

.carusel input[id="3"]:checked ~ .slide{
  animation: none;
  transform: translate3d(calc(-100% * 2) , 0 , 0 );
}

.carusel input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
 background: var(--first);
}

@keyframes autoplay{
  33%{
    transform: translate3d(calc(-100% * 0), 0 , 0);
  }
  66%{
    transform: translate3d(calc(-100% * 1), 0 , 0);
  }
  100%{
    transform: translate3d(calc(-100% * 2), 0 , 0);
  }
}

.foto1{
  border-radius: 25% 39% 25% 56% / 25% 32% 25% 53%;
}

.formulario{
  background-color: #fff;
 
}

.color-form{
  background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
  -webkit-box-shadow: 27.5px 26.5px 11.5px -2.5px #312a2a;
-moz-box-shadow: 27.5px 26.5px 11.5px -2.5px #312a2a;
box-shadow: 27.5px 26.5px 11.5px -2.5px #312a2a;
  
}

.color-form1{
  clip-path: polygon(100% 100%, 77% 0, 0 0, 0 100%, 86% 100%, 63% 0, 65% 0, 88% 100%, 98% 100%, 75% 0, 77% 0, 100% 99%);
  
  background-color: #000;
  
}


.color-form2{
  clip-path: polygon(100% 100%, 77% 0, 0 0, 0 100%, 86% 100%, 63% 0, 58% 0, 83% 100%, 100% 100%, 77% 0, 77% 0, 100% 99%);
  
  background-color: #1565C0;
  
}

.texto1 {
  background: -webkit-linear-gradient(rgb(0, 0, 0),rgb(157, 164, 112));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(115, 141, 60);  
}

.text2{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .cuadrado {
  width: 100px; 
  height: 100px; 
  background: #428bca;
  
} */

/***************************************************
 * Generated by SVG Artista on 8/29/2023, 10:58:23 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(252, 202, 222);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(252, 202, 222);
  }
}

.hello-1 {
  -webkit-animation: animate-svg-fill-1 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.8s both;
          animation: animate-svg-fill-1 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.8s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 254, 253);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 254, 253);
  }
}

.hello-2 {
  -webkit-animation: animate-svg-fill-2 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both;
          animation: animate-svg-fill-2 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(162, 139, 153);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(162, 139, 153);
  }
}

.hello-3 {
  -webkit-animation: animate-svg-fill-3 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.2000000000000002s both;
          animation: animate-svg-fill-3 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(243, 175, 202);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(243, 175, 202);
  }
}

.hello-4 {
  -webkit-animation: animate-svg-fill-4 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.4000000000000001s both;
          animation: animate-svg-fill-4 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(234, 99, 136);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(234, 99, 136);
  }
}

.hello-5 {
  -webkit-animation: animate-svg-fill-5 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.6s both;
          animation: animate-svg-fill-5 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.6s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(148, 113, 134);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(148, 113, 134);
  }
}

.hello-6 {
  -webkit-animation: animate-svg-fill-6 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.8s both;
          animation: animate-svg-fill-6 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.8s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(89, 49, 66);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(89, 49, 66);
  }
}

.hello-7 {
  -webkit-animation: animate-svg-fill-7 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2s both;
          animation: animate-svg-fill-7 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(199, 100, 129);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(199, 100, 129);
  }
}

.hello-8 {
  -webkit-animation: animate-svg-fill-8 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.2s both;
          animation: animate-svg-fill-8 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.2s both;
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(252, 202, 222);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(252, 202, 222);
  }
}

.hello-9 {
  -webkit-animation: animate-svg-fill-9 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.4000000000000004s both;
          animation: animate-svg-fill-9 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 254, 253);
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 254, 253);
  }
}

.hello-10 {
  -webkit-animation: animate-svg-fill-10 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.6s both;
          animation: animate-svg-fill-10 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.6s both;
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(162, 139, 153);
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(162, 139, 153);
  }
}

.hello-11 {
  -webkit-animation: animate-svg-fill-11 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.8s both;
          animation: animate-svg-fill-11 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.8s both;
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(243, 175, 202);
  }
}

@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(243, 175, 202);
  }
}

.hello-12 {
  -webkit-animation: animate-svg-fill-12 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s both;
          animation: animate-svg-fill-12 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s both;
}

@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(234, 99, 136);
  }
}

@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(234, 99, 136);
  }
}

.hello-13 {
  -webkit-animation: animate-svg-fill-13 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.2s both;
          animation: animate-svg-fill-13 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.2s both;
}

@-webkit-keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(148, 113, 134);
  }
}

@keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(148, 113, 134);
  }
}

.hello-14 {
  -webkit-animation: animate-svg-fill-14 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.4000000000000004s both;
          animation: animate-svg-fill-14 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(89, 49, 66);
  }
}

@keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(89, 49, 66);
  }
}

.hello-15 {
  -webkit-animation: animate-svg-fill-15 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.6000000000000005s both;
          animation: animate-svg-fill-15 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(199, 100, 129);
  }
}

@keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(199, 100, 129);
  }
}

.hello-16 {
  -webkit-animation: animate-svg-fill-16 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.8s both;
          animation: animate-svg-fill-16 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.8s both;
}

@-webkit-keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(252, 202, 222);
  }
}

@keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(252, 202, 222);
  }
}

.hello-17 {
  -webkit-animation: animate-svg-fill-17 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4s both;
          animation: animate-svg-fill-17 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4s both;
}

@-webkit-keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(162, 139, 153);
  }
}

@keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(162, 139, 153);
  }
}

.hello-18 {
  -webkit-animation: animate-svg-fill-18 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4.2s both;
          animation: animate-svg-fill-18 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4.2s both;
}




/* ------------------------------------------------------------------------------------------ */

.heart-shape{
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: rgba(250,184,66, 1);
}
.heart-shape:before,
.heart-shape:after{
  position: absolute;
  width: 200px;
  height: 200px;
  content: '';
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(250,184,66, 1);
}
.heart-shape:before{
  bottom: 0px;
  left: -100px;
}
.heart-shape:after{
  top: -100px;
  right: 0px;
}

.love{clip-path: circle(50% at 50% 50%);}