.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo,
.thirteen {
  position: relative;
}

.thirteen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: '';
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/***************************************************
 * Generated by SVG Artista on 8/29/2023, 11:43:17 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 @-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 250, 237);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 250, 237);
  }
}

.mery-1 {
  -webkit-animation: animate-svg-fill-1 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.8s both;
          animation: animate-svg-fill-1 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.8s both;
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(252, 249, 234);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(252, 249, 234);
  }
}

.mery-2 {
  -webkit-animation: animate-svg-fill-2 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both;
          animation: animate-svg-fill-2 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1s both;
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 248, 233);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 248, 233);
  }
}

.mery-3 {
  -webkit-animation: animate-svg-fill-3 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.2000000000000002s both;
          animation: animate-svg-fill-3 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.2000000000000002s both;
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(231, 89, 43);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(231, 89, 43);
  }
}

.mery-4 {
  -webkit-animation: animate-svg-fill-4 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.4000000000000001s both;
          animation: animate-svg-fill-4 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.4000000000000001s both;
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(117, 180, 225);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(117, 180, 225);
  }
}

.mery-5 {
  -webkit-animation: animate-svg-fill-5 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.6s both;
          animation: animate-svg-fill-5 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.6s both;
}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(232, 122, 51);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(232, 122, 51);
  }
}

.mery-6 {
  -webkit-animation: animate-svg-fill-6 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.8s both;
          animation: animate-svg-fill-6 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1.8s both;
}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(195, 224, 245);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(195, 224, 245);
  }
}

.mery-7 {
  -webkit-animation: animate-svg-fill-7 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2s both;
          animation: animate-svg-fill-7 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2s both;
}

@-webkit-keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(247, 224, 110);
  }
}

@keyframes animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(247, 224, 110);
  }
}

.mery-8 {
  -webkit-animation: animate-svg-fill-8 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.2s both;
          animation: animate-svg-fill-8 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.2s both;
}

@-webkit-keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(142, 197, 233);
  }
}

@keyframes animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(142, 197, 233);
  }
}

.mery-9 {
  -webkit-animation: animate-svg-fill-9 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.4000000000000004s both;
          animation: animate-svg-fill-9 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(162, 211, 240);
  }
}

@keyframes animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(162, 211, 240);
  }
}

.mery-10 {
  -webkit-animation: animate-svg-fill-10 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.6s both;
          animation: animate-svg-fill-10 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.6s both;
}

@-webkit-keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(91, 160, 211);
  }
}

@keyframes animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(91, 160, 211);
  }
}

.mery-11 {
  -webkit-animation: animate-svg-fill-11 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.8s both;
          animation: animate-svg-fill-11 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2.8s both;
}

@-webkit-keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(242, 236, 218);
  }
}

@keyframes animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(242, 236, 218);
  }
}

.mery-12 {
  -webkit-animation: animate-svg-fill-12 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s both;
          animation: animate-svg-fill-12 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3s both;
}

@-webkit-keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(237, 156, 60);
  }
}

@keyframes animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(237, 156, 60);
  }
}

.mery-13 {
  -webkit-animation: animate-svg-fill-13 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.2s both;
          animation: animate-svg-fill-13 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.2s both;
}

@-webkit-keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(244, 231, 182);
  }
}

@keyframes animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(244, 231, 182);
  }
}

.mery-14 {
  -webkit-animation: animate-svg-fill-14 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.4000000000000004s both;
          animation: animate-svg-fill-14 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.4000000000000004s both;
}

@-webkit-keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(240, 186, 74);
  }
}

@keyframes animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(240, 186, 74);
  }
}

.mery-15 {
  -webkit-animation: animate-svg-fill-15 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.6000000000000005s both;
          animation: animate-svg-fill-15 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(226, 239, 244);
  }
}

@keyframes animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(226, 239, 244);
  }
}

.mery-16 {
  -webkit-animation: animate-svg-fill-16 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.8s both;
          animation: animate-svg-fill-16 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 3.8s both;
}

@-webkit-keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(107, 100, 177);
  }
}

@keyframes animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(107, 100, 177);
  }
}

.mery-17 {
  -webkit-animation: animate-svg-fill-17 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4s both;
          animation: animate-svg-fill-17 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4s both;
}

@-webkit-keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(241, 210, 134);
  }
}

@keyframes animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(241, 210, 134);
  }
}

.mery-18 {
  -webkit-animation: animate-svg-fill-18 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4.2s both;
          animation: animate-svg-fill-18 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4.2s both;
}

@-webkit-keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(177, 196, 228);
  }
}

@keyframes animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(177, 196, 228);
  }
}

.mery-19 {
  -webkit-animation: animate-svg-fill-19 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4.4s both;
          animation: animate-svg-fill-19 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4.4s both;
}

@-webkit-keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(144, 125, 192);
  }
}

@keyframes animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(144, 125, 192);
  }
}

.mery-20 {
  -webkit-animation: animate-svg-fill-20 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4.6000000000000005s both;
          animation: animate-svg-fill-20 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(155, 185, 220);
  }
}

@keyframes animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(155, 185, 220);
  }
}

.mery-21 {
  -webkit-animation: animate-svg-fill-21 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4.8s both;
          animation: animate-svg-fill-21 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 4.8s both;
}

@-webkit-keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(182, 86, 42);
  }
}

@keyframes animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(182, 86, 42);
  }
}

.mery-22 {
  -webkit-animation: animate-svg-fill-22 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 5s both;
          animation: animate-svg-fill-22 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 5s both;
}

@-webkit-keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(14, 6, 11);
  }
}

@keyframes animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(14, 6, 11);
  }
}

.mery-23 {
  -webkit-animation: animate-svg-fill-23 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 5.2s both;
          animation: animate-svg-fill-23 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 5.2s both;
}

@-webkit-keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 67, 117);
  }
}

@keyframes animate-svg-fill-24 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 67, 117);
  }
}

.mery-24 {
  -webkit-animation: animate-svg-fill-24 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 5.4s both;
          animation: animate-svg-fill-24 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 5.4s both;
}

@-webkit-keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(160, 113, 73);
  }
}

@keyframes animate-svg-fill-25 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(160, 113, 73);
  }
}

.mery-25 {
  -webkit-animation: animate-svg-fill-25 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 5.6000000000000005s both;
          animation: animate-svg-fill-25 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 5.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(108, 99, 142);
  }
}

@keyframes animate-svg-fill-26 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(108, 99, 142);
  }
}

.mery-26 {
  -webkit-animation: animate-svg-fill-26 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 5.8s both;
          animation: animate-svg-fill-26 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 5.8s both;
}

@-webkit-keyframes animate-svg-fill-27 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 250, 237);
  }
}

@keyframes animate-svg-fill-27 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(254, 250, 237);
  }
}

.mery-27 {
  -webkit-animation: animate-svg-fill-27 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 6s both;
          animation: animate-svg-fill-27 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 6s both;
}

@-webkit-keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(117, 180, 225);
  }
}

@keyframes animate-svg-fill-28 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(117, 180, 225);
  }
}

.mery-28 {
  -webkit-animation: animate-svg-fill-28 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 6.2s both;
          animation: animate-svg-fill-28 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 6.2s both;
}

@-webkit-keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(247, 224, 110);
  }
}

@keyframes animate-svg-fill-29 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(247, 224, 110);
  }
}

.mery-29 {
  -webkit-animation: animate-svg-fill-29 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 6.4s both;
          animation: animate-svg-fill-29 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 6.4s both;
}

@-webkit-keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(142, 197, 233);
  }
}

@keyframes animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(142, 197, 233);
  }
}

.mery-30 {
  -webkit-animation: animate-svg-fill-30 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 6.6000000000000005s both;
          animation: animate-svg-fill-30 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 6.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(91, 160, 211);
  }
}

@keyframes animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(91, 160, 211);
  }
}

.mery-31 {
  -webkit-animation: animate-svg-fill-31 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 6.8s both;
          animation: animate-svg-fill-31 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 6.8s both;
}

@-webkit-keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(240, 186, 74);
  }
}

@keyframes animate-svg-fill-32 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(240, 186, 74);
  }
}

.mery-32 {
  -webkit-animation: animate-svg-fill-32 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7s both;
          animation: animate-svg-fill-32 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7s both;
}

@-webkit-keyframes animate-svg-fill-33 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(182, 86, 42);
  }
}

@keyframes animate-svg-fill-33 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(182, 86, 42);
  }
}

.mery-33 {
  -webkit-animation: animate-svg-fill-33 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7.2s both;
          animation: animate-svg-fill-33 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7.2s both;
}

@-webkit-keyframes animate-svg-fill-34 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 67, 117);
  }
}

@keyframes animate-svg-fill-34 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(41, 67, 117);
  }
}

.mery-34 {
  -webkit-animation: animate-svg-fill-34 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7.4s both;
          animation: animate-svg-fill-34 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7.4s both;
}

@-webkit-keyframes animate-svg-fill-35 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(85, 22, 21);
  }
}

@keyframes animate-svg-fill-35 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(85, 22, 21);
  }
}

.mery-35 {
  -webkit-animation: animate-svg-fill-35 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7.6000000000000005s both;
          animation: animate-svg-fill-35 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7.6000000000000005s both;
}

@-webkit-keyframes animate-svg-fill-36 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(108, 99, 142);
  }
}

@keyframes animate-svg-fill-36 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(108, 99, 142);
  }
}

.mery-36 {
  -webkit-animation: animate-svg-fill-36 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7.8s both;
          animation: animate-svg-fill-36 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 7.8s both;
}

@-webkit-keyframes animate-svg-fill-37 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(240, 186, 74);
  }
}

@keyframes animate-svg-fill-37 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(240, 186, 74);
  }
}

.mery-37 {
  -webkit-animation: animate-svg-fill-37 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s both;
          animation: animate-svg-fill-37 0.12s cubic-bezier(0.68, -0.55, 0.265, 1.55) 8s both;
}

.hhhhaaa{
  border-radius: 20px;
  color: white;
 font-size: 2em;
}